body {
    background-color: #e8f5e9;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2e7d32;
}

h2 {
    color: #558b2f;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

h1:hover {
    color: #1b5e20;
    transition: 0.5s;
}
button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Responsividade para celular */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}
