body {
    background-color: #FFF5F8;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1{
    color:#D96C9D;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

h1:hover {
    color: #E78FB3;
}
h2{
    color:#E78FB3;
}
button {
    background-color: #F4AFCB;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
   button:hover {
    background-color: #E78FB3;
    }

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

/* Responsividade para celular */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}
/* Menu de navegação */
nav {
    background-color: #E78FB3;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #FFE4EC;
    transform: scale(1.05);
}

/* Caixa de conteúdo */
main {
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Rodapé */
footer {
    margin-top: 30px;
    color: #D96C9D;
    font-weight: bold;
}
img {
    max-width: 100%;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
/* Modo escuro */
.escuro {
    background-color: #222;
    color: white;
}

.escuro main {
    background-color: #333;
}

.escuro h1,
.escuro h2,
.escuro h3,
.escuro p,
.escuro li {
    color: white;
}

.escuro nav {
    background-color: #111;
}

.escuro footer {
    background-color: #111;
    color: white;
}

.escuro button {
    background-color: #555;
    color: white;
}
